<ion-grid class="products-grid">
  <ion-row>
    @for (item of productItems(); track item.id) {

    <ion-col size="6" size-md="4" size-lg="3">
      <div class="product-card">
        <div class="image-wrapper">
          <img [src]="'http://192.168.0.205:3000/' + item.image" [alt]="item.title" />

          <button class="favorite-btn" (click)="onFavoriteClick(item)"   [class.active]="favoriteIds().has(item.id)">
            <ion-icon [name]="favoriteIds().has(item.id) ? 'heart' : 'heart-outline'">
            </ion-icon>
          </button>
        </div>
        <div class="card-body">

          <div class="product-title">
            {{ item.title }}
          </div>
          <div class="product-price">
            {{ item.price }} zł
          </div>
          <button class="cart-btn" (click)="onCartClick(item)">
            <ion-icon name="cart-outline"></ion-icon>
          </button>
        </div>
      </div>
    </ion-col>
    }
  </ion-row>
</ion-grid>