.product-title {
  font-weight: bold;
  margin-bottom: 4px;
}

.product-description {
  display: -webkit-box;
  --webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.85rem;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-price {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}