<ion-content class="add-content">
  <div class="page-wrapper">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-images-control formControlName="images"></app-images-control>
        <app-title-control formControlName="title"></app-title-control>
        
        <ion-item>
          <ion-input label="Autor" formControlName="author" type="text"></ion-input>
        </ion-item>

        <app-description-control formControlName="description"></app-description-control>
        
        <app-item-condition formControlName="condition"></app-item-condition>

        <ion-button type="submit" [disabled]="form.invalid">Wyślij</ion-button>
      </form>
    <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-list>
          <app-images-control></app-images-control>
          <app-title-control></app-title-control>
          <ion-item>
            <ion-input
              label="Autor"
              type="number"
              placeholder="000"
            ></ion-input>
          </ion-item>
          <app-description-control></app-description-control>
          <ion-item>
            <ion-input
              label="Rok wydania"
              type="number"
              placeholder="1999"
            ></ion-input>
          </ion-item>
          <app-item-condition></app-item-condition>
        </ion-list>
      </ion-list>
    </form> -->
  </div>
</ion-content>
