<ion-content class="home-content">
  <div class="page-wrapper">
 
  <div class="search-block">
    <ion-searchbar animated="true" placeholder="Wyszukaj" (ionInput)="handleInput($event)"></ion-searchbar>
  </div>
  <app-welcome></app-welcome>

  <div class="categories-wrapper">
    <ion-grid>
      <ion-row>
        @for(category of store.categories(); track category.name){
        <ion-col size="4" size-md="4" size-lg="1">
          <div class="category-card" [routerLink]="[category.linkData, category.routerData]">
            <img [src]="category.iconSrc" />
            <span>{{ category.name }}</span>
          </div>
        </ion-col>
        }
      </ion-row>
    </ion-grid>
  </div>
  @if(store.isBusy()){
  <app-loader-skeleton [skeletonAmount]="8" [height]="300" [width]="48"></app-loader-skeleton>
  }@else{
  <app-products-list [productItems]="store.productItems()"></app-products-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)" [disabled]="!store.hasMore()">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Завантаження...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  }
  @if(!store.hasMore() && (store.productItems()?.length || 0) > 0) {
  <div class="ion-padding ion-text-center no-items-block" style="color: gray;">

    <div>
      <img src="../../../assets/icons/baybabybear.png">
          <small>To wszystko na dzisiaj</small>
    </div>
  </div>
  }
   </div>
</ion-content>