// :host {
//     overflow-y: auto;
// }

// .category-block {
//     height: 20rem;
//     display: grid;
//     grid-auto-flow: column;
//     grid-template-rows: repeat(2, 1fr);
//     grid-auto-columns: 140px;
//     overflow-x: auto;
//     overflow-y: hidden;
//     justify-content: center;
//     align-items: end;

//     &_item {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;

//         img {
//             max-width: 8rem;
//         }
//     }
// }

// .home-content {
//   --background: #f6f4f1;
// }

// .categories-wrapper {
//   max-width: 1200px;
//   margin: 0 auto;
//   padding: 12px;
// }

// ion-row {
//   gap: 12px; // рівні відступи між картками
// }

.category-card {
  background: #ffffff;
  border-radius: 18px;
  padding: 16px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 130px;

  box-shadow:
    0 2px 6px rgba(0,0,0,0.04),
    0 8px 20px rgba(0,0,0,0.06);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category-card:hover {
  transform: translateY(-3px);
  box-shadow:
    0 4px 10px rgba(0,0,0,0.06),
    0 12px 24px rgba(0,0,0,0.08);
}

.category-card img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 8px;
}

.category-card span {
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
}