:host {
    overflow-y: auto;
}

.category-block {
    height: 20rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: 140px;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: center;
    align-items: end;

    &_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            max-width: 8rem;
        }
    }
}