<div class="search-block">
  <ion-searchbar placeholder="Wyszukaj" (ionInput)="handleInput($event)"></ion-searchbar>
</div>
<app-welcome></app-welcome>
<!-- <div class="category-block">
  @for(category of categories; track category.name){
  <div class="category-block_item">
    <ion-button fill="clear" [routerLink]="[category.linkData, category.routerData]"><img [src]="category.iconSrc"
        class="tab-icon" [alt]="category.name" />
    </ion-button>
    <ion-label class="category-block_item-label">{{category.name}}</ion-label>
  </div>
  }
</div>
<div class="publication-block"></div> -->
<ion-content class="home-content">

  <div class="categories-wrapper">
    <ion-grid>
      <ion-row>
        @for(category of categories; track category.name){
        <ion-col size="6" size-md="4" size-lg="3">
          <div class="category-card">
            <img [src]="category.iconSrc" />
            <span>{{ category.name }}</span>
          </div>
        </ion-col>

        }

      </ion-row>
    </ion-grid>
  </div>

</ion-content>