
.tab-icon {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  margin-bottom: 4px;
}

.custom-tab-bar {
  --background: #ffffff;
  border-top: 1px solid #f0f0f0;
}

ion-tab-button {
  --color: #9aa0a6;
  --color-selected: #ff7a00; // твій бренд колір
}