<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/home">
      <img src="../../../assets/icons/home.PNG" class="tab-icon" alt="Start" />
    </ion-tab-button>

    <ion-tab-button tab="category" href="/category">
      <img src="../../../assets/icons/categoties.PNG" class="tab-icon" alt="Kategorji" />
    </ion-tab-button>

    <ion-tab-button tab="add" href="/add">
      <img src="../../../assets/icons/additem.PNG" class="tab-icon" alt="Dodaj" />
    </ion-tab-button>

    <ion-tab-button tab="favorite" href="/favorite">
      <img src="../../../assets/icons/favorite.png" class="tab-icon" alt="Ulubione" />
    </ion-tab-button>
    <ion-tab-button tab="cart" href="/cart">
      <img src="../../../assets/icons/cart.PNG" class="tab-icon" alt="Koszyk" />
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>