@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";


@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


:root {
    --ion-font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: rgba(201, 195, 195, 0.192);
}

.ion-page {
    justify-content: flex-start !important
}

ion-app.main {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1440px) 1fr;
    grid-template-rows: 3.5rem auto;
}

ion-content {
    --background: transparent;

    &::part(scroll) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.page-wrapper {
    width: 100%;
    max-width: 1440px;
    background: white;
    padding-top:56px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    position: relative;

}

app-header.header {
    grid-row: 1;
    grid-column: 1 / 4;
}



ion-content.content {
    grid-row: 2;
    grid-column: 2;
    background-color: rgba(201, 195, 195, 0.192) !important;
}

.searchbar-input.sc-ion-searchbar-md {
    border-radius: 1rem !important;
}

.header-md {
    --webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.sc-ion-searchbar-md-h {
    --webkit-box-shadow: none !important;
    box-shadow: none !important;

}

.sc-ion-searchbar-ios-h {
    background-color: transparent !important;
}